/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*Entire Body*/
@font-face
{
    font-family: Raleway;
    src: url(Raleway-Regular.ttf);
}


html,body
{
    margin: 0;
    padding: 0;
}

html
{
    position: relative;
    min-height: 100%;
}

h1
{
    margin: 0px;
}
  

/* Change glow of input to purple */

.form-control:focus
{ 
     border-color: #7EC0EE;
     outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #7EC0EE;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #7EC0EE;
}


/* Change color of buttons to purple */
.btn
{
    color: #7EC0EE;
    background-color: white;
    border: 1px solid #7EC0EE;
}

.btn:hover
{
    color: white;
    background-color: #7EC0EE;
    border: 1px solid #7EC0EE;
}


/*Change color of sign up and forgot your password links, code in "devise/shared/links"*/
.LoginLink
{
    color: #7EC0EE;
}

.LoginLink:hover
{
   color: #7EC0EE; 
}


.DashLink
{
    color: white !important;
}
  
  
#Main
{
    padding-top: 40px;
    padding-left: 20px;
    margin-top: 2%;
    margin-left: 140px;
}


