
<!--                Body                -->

<section class = "container-fluid">
    
   <!-- Banner  -->
   
   <nav class="navbar navbar-default navbar-fixed-top PublicBanner" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ">
                <a id = "PublicTitle" class="navbar-brand LabelColor" href="">&nbsp AZ Preston Hall</a>
            </div>

            <div class="collapse navbar-collapse navbarCollapse">
                <ul id = "LogBtnSpace" class="nav navbar-nav navbar-right">
                    
                  
                    
                    <li>
                        <% if user_signed_in? -%>
                            <%= link_to 'Dashboard', '/dashboard/newsfeed',:class => "btn" %>
                        <% end -%>
                    </li>
                    
                    <li>
                       <% if !user_signed_in? -%>
                            <%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-default" %>
                       <% end -%>
                    </li>

                    <li>
                        <% if user_signed_in? -%>
                            <%= link_to 'Log out', destroy_user_session_path ,method: :delete, :class => "btn btn-default" %>
                        <% else -%>
                            <%= link_to 'Login', new_user_session_path, :class => "btn btn-default" %>
                        <% end -%>
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </nav>

 
    
    <!-- Footer -->
    <footer class = "footer footer-distributed">
        
        <div class="footer-left">
            

			<h3>AZ Preston Hall</h3>

				<p class="footer-company-name">AZ Preston Hall Committee &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>The A.Z. Preston Hall</span> Kingston, Jamaica</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 (876) 977-6721-3</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:c.q.azph@gmail.com">c.q.azph@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Around the Web</span>
				</p>

				<div class="footer-icons">
            
					<a href="https://www.facebook.com/aston.prestonhall/"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/azprestonhall?lang=en"><i class="fa fa-twitter"></i></a>
					<a href="https://www.instagram.com/azprestonhall/"><i class="fa fa-instagram"></i></a>

				</div>

			</div>
       
    </footer>
    
</section>